.bar {
  background-color: rgba($base, 0.6);
  padding: 0px 10px;
}

.workspaces {
  margin: 10px;
  border-radius: 15px;

  button {
    color: $tertiary;
    border-radius: inherit;
    
    // &:hover {
    //   color: $primary;
    // }
  }
  
  button.current {
    background-color: $primary;
    color: $base;
    padding: 0 16px;
  }
}

.separator {
  color: $primary;
  padding: 0 10px;
}

.title {
  color: $secondary;
  padding: 0 10px;
}

.bluetooth_button {
  font-size: 20px;
  color: $tertiary;
  padding: 0 10px;
}

.time {
  color: $primary;
  padding: 0 10px;
}

.power {
  color: $tertiary;
  padding: 0 10px;
}
