.bar {
  background-color: rgba($base, 0.6);
  padding: 0px 10px;
}

.separator {
  color: $primary;
  padding: 0 10px;
}

.title {
  color: $secondary;
  padding: 0 10px;
}

.time {
  color: $primary;
  padding: 0 10px;
}

.power {
  color: $tertiary;
  padding: 0 10px;
}
