* {
  all: unset;
  font-family: "MesloLGM Nerd Font", monospace;
  font-size: 16px;
  font-weight: bold;
}

$base: #191724;
$primary: #f6c177;
$secondary: #9ccfd8;
$tertiary: #eb6f92;
$overlay: #6e6a86;

@import 'bar';
@import 'volume';
