* {
  all: unset;
  font-family: "MesloLGM Nerd Font", monospace;
  font-size: 16px;
  font-weight: bold;
}

$base: #191724;
$primary: #f6c177;
$secondary: #9ccfd8;
$tertiary: #eb6f92;
$overlay: #6e6a86;

.bar {
  background-color: $base;
  padding-right: 10px;
}

.workspaces {
  button {
    color: $tertiary;
    padding: 0 20px;
    
    &:hover {
      color: $primary;
    }
  }
  
  button.current {
    background-color: $primary;
    color: $base;
  }
}

.separator {
  color: $primary;
  margin: 0 20px;
}

.title {
  color: $secondary;
  margin: 0 20px;
}

.volume trough {
    background-color: $overlay;
    border-radius: 3px;
    min-height: 6px;
    min-width: 130px;
}

.volume highlight {
    background-color: $primary;
    border-radius: 5px;
}

.volume slider {
    background-color: $tertiary;
    border-radius: 50%;
    min-height: 6px;
    min-width: 6px;
}

.bluetooth {
  color: $secondary;
  margin: 0 20px;
}

.time {
  color: $primary;
  margin: 0 20px;
}

.power {
  color: $tertiary;
  margin: 0 20px;
}
