.volume_button_label {
  font-size: 24px;
  color: $primary;
  padding: 0 15px;
}

.volume_slider {
  padding: 0 10px;
}

.volume_slider trough {
    background-color: $overlay;
    border-radius: 7px;
    min-height: 14px;
    min-width: 130px;
}

.volume_slider highlight {
    background-color: $primary;
    border-radius: 7px;
}

